{{ 'image-comparison-modern.css' | asset_url | stylesheet_tag }}

{% liquid
  assign loading = 'lazy'
  assign fetch_priority = 'auto'
  if section.index <= 3
    assign loading = 'eager'
    assign fetch_priority = 'high'
  endif
  assign before_image = section.blocks | first
  assign after_image = section.blocks | last

  if section.settings.desktop_media_height == 'adapt_to_image'
    assign media_desktop_class = 'desktop-media-adapt'
  else
    assign media_desktop_class = 'desktop-media-fixed-height'
  endif

  if section.settings.mobile_media_height == 'adapt_to_image'
    assign media_mobile_class = 'mobile-media-adapt'
  else
    assign media_mobile_class = 'mobile-media-fixed-height'
  endif

  assign before_image_default_alt = 'Image comparison before image' | escape
  assign after_image_default_alt = 'Image comparison after image' | escape
%}

<div
  class="image-comparison-wrapper separator-{{ section.settings.separator_color }} {%  if section.settings.rounded_corners == "all" %}{{ section.settings.rounded_corners_type }}{% endif %}"
  data-section="{{ section.id }}"
  data-parent-wrapper
>
  {%- if before_image != blank -%}
    {% assign desktop_image = before_image.settings.desktop_image %}
    {% assign mobile_image = before_image.settings.mobile_image | default: desktop_image %}
    <div class="image-comparison-media image-comparison-before">
      <div
        class="media-card {{ media_desktop_class }} {{ media_mobile_class }} d-none md-block"
        {% if settings.image_animation_type != 'none' %}
          animate-element="true"
          data-animate="{{ settings.image_animation_type }}"
        {% endif %}
      >
        {% if desktop_image != blank %}
          {% liquid
            assign desktop_image_alt = desktop_image.alt | default: before_image_default_alt
          %}
          {{
            desktop_image
            | image_url: width: 3840, format: 'webp'
            | image_tag:
              sizes: '(max-width: 767px) 100vw, (max-width: 1024px) 100vw, (max-width: 1367px) 100vw, (max-width: 1599px) 100vw, 100vw',
              widths: '600, 700, 800, 900, 1000, 1200, 1400, 1600, 1800, 2000, 2200, 2400, 2600, 2800, 3000, 3200, 3400, 3600, 3840',
              decoding: 'async',
              loading: loading,
              fetchpriority: fetch_priority,
              alt: desktop_image_alt
          }}
        {% else %}
          {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <div
        class="media-card {{ media_desktop_class }} {{ media_mobile_class }} d-block md-none"
        {% if settings.image_animation_type != 'none' %}
          animate-element="true"
          data-animate="{{ settings.image_animation_type }}"
        {% endif %}
      >
        {% if mobile_image != blank %}
          {% liquid
            assign mobile_image_alt = mobile_image.alt | default: before_image_default_alt
          %}
          {{
            mobile_image
            | image_url: width: 1440, format: 'webp'
            | image_tag:
              sizes: '(max-width: 767px) 100vw',
              widths: '320, 480, 640, 750, 828, 1200, 1440',
              decoding: 'async',
              loading: loading,
              fetchpriority: fetch_priority,
              alt: mobile_image_alt
          }}
        {% else %}
          {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    </div>
  {% endif %}
  {%- if after_image != blank -%}
    {% assign desktop_image = after_image.settings.desktop_image %}
    {% assign mobile_image = after_image.settings.mobile_image | default: desktop_image %}
    <div class="image-comparison-media image-comparison-after">
      <div
        class="media-card {{ media_desktop_class }} {{ media_mobile_class }}  d-none md-block"
        {% if settings.image_animation_type != 'none' %}
          animate-element="true"
          data-animate="{{ settings.image_animation_type }}"
        {% endif %}
      >
        {% if desktop_image != blank %}
          {% liquid
            assign desktop_after_image_alt = desktop_image.alt | default: after_image_default_alt
          %}
          {{
            desktop_image
            | image_url: width: 3840, format: 'webp'
            | image_tag:
              sizes: '(max-width: 767px) 100vw, (max-width: 1024px) 100vw, (max-width: 1367px) 100vw, (max-width: 1599px) 100vw, 100vw',
              widths: '600, 700, 800, 900, 1000, 1200, 1400, 1600, 1800, 2000, 2200, 2400, 2600, 2800, 3000, 3200, 3400, 3600, 3840',
              decoding: 'async',
              loading: loading,
              fetchpriority: fetch_priority,
              alt: desktop_after_image_alt
          }}
        {% else %}
          {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <div
        class="media-card {{ media_desktop_class }} {{ media_mobile_class }} d-block md-none"
        {% if settings.image_animation_type != 'none' %}
          animate-element="true"
          data-animate="{{ settings.image_animation_type }}"
        {% endif %}
      >
        {% if mobile_image != blank %}
          {% liquid
            assign mobile_after_image_alt = mobile_image.alt | default: after_image_default_alt
          %}
          {{
            mobile_image
            | image_url: width: 1440, format: 'webp'
            | image_tag:
              sizes: '(max-width: 767px) 100vw',
              widths: '320, 480, 640, 750, 828, 1200, 1440',
              decoding: 'async',
              loading: loading,
              fetchpriority: fetch_priority,
              alt: mobile_after_image_alt
          }}
        {% else %}
          {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    </div>
  {% endif %}
  {%- if before_image != blank and after_image != blank -%}
    <span class="image-comparison-seperator" data-drag-button></span>
  {% endif %}

  <div class="image-comparison-content">
    <div class="image-comparison-before-content">
      <div class="image-comparison-image">
        <div
          class="media-card media-adapt"
          style="--imageRatio:1/1;"
          {% if settings.image_animation_type != 'none' %}
            animate-element="true"
            data-animate="{{ settings.image_animation_type }}"
          {% endif %}
        >
          {% if before_image.settings.desktop_image != blank %}
            {% liquid
              assign desktop_before_image_alt = before_image.settings.desktop_image.alt | default: before_image_default_alt
            %}
            {{ before_image.settings.desktop_image | image_url: width: 640, format: 'webp' | image_tag:
              sizes: '(max-width: 767px) 100vw',
              widths: '320, 480, 640',
              decoding: 'async',
              loading: loading,
              fetchpriority: fetch_priority,
              alt: desktop_before_image_alt
            }}
            
          {% else %}
            {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
      </div>
      {% comment %} a changed to div changes {% endcomment %}
      <div tabindex="0" aria-disabled="true" class="image-comparison-heading-block">
        <p class="image-comparison-heading text-xlarge heading-font">
          {{- before_image.settings.subheading -}}
        </p>
        <p class="image-comparison-heading text-xlarge heading-font">
          {{- before_image.settings.subheading -}}
        </p>
      </div>
    </div>
    <div class="image-comparison-after-content">
      <div tabindex="0" aria-disabled="true" class="image-comparison-heading-block">
        <p class="image-comparison-heading text-xlarge heading-font">
          {{- after_image.settings.subheading -}}
        </p>
        <p class="image-comparison-heading text-xlarge heading-font">
          {{- after_image.settings.subheading -}}
        </p>
      </div>
      <div class="image-comparison-image">
        <div
          class="media-card media-adapt"
          style="--imageRatio:1/1;"
          {% if settings.image_animation_type != 'none' %}
            animate-element="true"
            data-animate="{{ settings.image_animation_type }}"
          {% endif %}
        >
          {% if after_image.settings.desktop_image != blank %}
            {% liquid
              assign desktop_after_image_alt = after_image.settings.desktop_image.alt | default: after_image_default_alt
            %}
            {{ after_image.settings.desktop_image | image_url: width: 640, format: 'webp' | image_tag:
              sizes: '(max-width: 767px) 100vw',
              widths: '320, 480, 640',
              decoding: 'async',
              loading: loading,
              fetchpriority: fetch_priority,
              alt: desktop_after_image_alt
            }}
          {% else %}
            {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="image-compare-icon">
    {% render 'svg-icons', icon_type: 'compare-icon' %}
  </div>
</div>
