{% comment %}
  {% stylesheet %}
  {% endstylesheet %}
{% endcomment %}
{{ 'product-gallery-media.css' | asset_url | stylesheet_tag }}
{%- liquid
  # assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign has_direction = 'horizontal'
  assign slides_per_view = 4
  assign slide_loop = false
  assign space_between = 8
  assign centered_slide = false
  assign centered_slide_bound = false

  if source == 'main-product' or source == 'feature-product'
    if section.settings.thumbnail_style == 'left'
      assign has_direction = 'horizontal'
      assign slides_per_view = 5
      assign slide_loop = false
      assign space_between = 20
      assign centered_slide = false
      assign centered_slide_bound = false
    elsif section.settings.thumbnail_style == 'overlay-vertical'
      assign has_direction = 'vertical'
      assign slides_per_view = 4
      assign slide_loop = false
      assign space_between = 10
      assign centered_slide = false
      assign centered_slide_bound = false
    endif
  endif

  assign has_multiple_items = false
  if product.media.size > 1
    assign has_multiple_items = true
  endif

  # assign image_setting = section.settings.aspect_ratio
  assign aspect_ratio = section.settings.aspect_ratio
  assign swiper_id = product.id | append: '-' | append: section.id
  assign swiper_id_thumb = product.id | append: '-thumb-' | append: section.id

  assign selected_variant_media = product.selected_or_first_available_variant.featured_media

  assign sorted_media = '' | split: ','

  # Add selected variant media first if it exists
  if selected_variant_media != blank
    assign sorted_media = sorted_media | concat: product.media | where: 'id', selected_variant_media.id
  endif

  # Add all other media that is not the selected variant media
  for media in product.media
    if media.id != selected_variant_media.id
      assign found_media = product.media | where: 'id', media.id
      assign sorted_media = sorted_media | concat: found_media
    endif
  endfor

  if source == 'feature-product' or source == 'quick-view'
    assign layout = 'carousel-with-thumbnails'
  else
    assign layout = section.settings.layout
  endif
  if layout == 'carousel-with-thumbnails'
    if section.settings.thumbnail_mobile == 'hide'
      assign hide_thumbnail_mobile = true
      assign hide_navigation_mobile = false
    else
      assign hide_thumbnail_mobile = false
      assign hide_navigation_mobile = true
    endif
  endif
-%}
<a class="skip-to-content-link button visually-hidden quick-add-hidden" href="#ProductInfo-{{ section.id }}">
  {{ 'accessibility.skip_to_product_info' | t }}
</a>
{% if source == 'main-product' or source == 'feature-product' or source == 'quick-view' %}
  <product-gallery
    class="product-media-wrapper navigation-on-hover d-block"
    data-media-size="{{ product.media.size }}"
    data-sorted-size="{{ sorted_media.size }}"
  >
{% else %}
  <div
    class="product-media-wrapper navigation-on-hover d-block"
    data-media-size="{{ product.media.size }}"
    data-sorted-size="{{ sorted_media.size }}"
  >
{% endif %}
{%- if layout == 'carousel-with-thumbnails' or layout == 'carousel-with-grid' -%}
 <div
  class="product-media-gallery{% if has_multiple_items %} swiper{% endif %}"
  {% if has_multiple_items %}
    data-swiper='
      {
        "loop": false,
        "pagination": {
          "el": ".swiper-pagination-{{ swiper_id }}",
          "type": "bullets",
          "clickable": true,
          "dynamicBullets": true,
          "dynamicMainBullets": 1
        },
        "navigation": {
          "nextEl": ".swiper-nav-next-{{ swiper_id }}",
          "prevEl": ".swiper-nav-prev-{{ swiper_id }}"
        },
        "autoHeight": true,
        "slidesPerView": 1,
        "speed": 600,
        "spaceBetween": 10,

        "simulateTouch": true,
        "allowTouchMove": true,
        "touchRatio": 1,

        "keyboard": {
          "enabled": true,
          "onlyInViewport": true
        },

        "mousewheel": {
          "enabled": true,
          "forceToAxis": true,
          "sensitivity": 1
        }
      }
    '
  {% endif %}
>


    <div class="product-media-list{% if has_multiple_items %} swiper-wrapper{% endif %}">
      {%- if product.media.size > 0 -%}
        {%- liquid
          assign index = 0
          assign pswp_i = 0
          if section.settings.aspect_ratio == 'adapt_to_first_image'
            assign aspect_ratio = product.featured_media.preview_image.aspect_ratio
          endif
        -%}
        {% for media in sorted_media %}
          {% comment %}
            {%- liquid
                if section.settings.aspect_ratio == 'auto'
                    if media.preview_image != blank
                        assign media_image = media.preview_image
                        assign aspect_ratio = media_image.aspect_ratio
                    endif
                endif
            %}
          {% endcomment %}
          <div
            class="product-media-item{% if has_multiple_items %} swiper-slide{% endif %}"
            data-media-type="{{ media.media_type }}"
            data-pswp-index="{{ pswp_i }}"
            data-index="{{ index }}"
            data-media-item
            data-ratio="{{ section.settings.aspect_ratio }}"
          >
            <div class="product-media-container" data-media-container="{{ media.media_type }}">
              <div class="media-card media-adapt" style="--imageRatio:{{ aspect_ratio }};">
                {% render 'media-product', media: media, section: section, source: source %}
              </div>
            </div>
          </div>
          {%- liquid
            assign index = index | plus: 1
            assign pswp_i = pswp_i | plus: 1
          -%}
        {% endfor %}
      {%- else -%}
        {%- liquid
          if section.settings.aspect_ratio == 'adapt_to_first_image'
            assign aspect_ratio = '1/1'
          endif
          # if section.settings.aspect_ratio == 'auto'
          # assign aspect_ratio = '1/1'
          # endif
        -%}
        <div class="product-media-item">
          <div class="product-media-container">
            <div class="media-card media-adapt" style="--imageRatio:{{ aspect_ratio }};">
              {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
    {% if has_multiple_items and layout == 'carousel-with-thumbnails' or layout == 'carousel-with-grid' %}
      {% comment %} removed classes from extra class tp show navigation on mobile devices as well (md-flex d-none ){% endcomment %}
      {%- liquid
        assign extra_class = 'd-flex swiper-navigation-expand with-background swiper-navigation-with-bullets'
        if hide_navigation_mobile
          assign extra_class = 'd-flex swiper-navigation-expand with-background swiper-navigation-with-bullets navigation-mobile-hidden'
        endif
      -%}
      {% render 'swiper-navigation', id: swiper_id, source: 'product-gallery-media', extra_class: extra_class %}
    {% endif %}
  </div>
{%- endif -%}

{%- capture media_grid -%}
  <div class="product-media-gallery-grid{% if has_multiple_items == false %} has-single-media{% endif %}{% if layout == 'grid' %} mobile-swipe{% endif %} mobile-stacked mobile-column-1" >
      {% if product.media.size > 0 %}
          {%- liquid 
              assign grid_index = 0
              assign grid_pswp_i = 0 
              if section.settings.aspect_ratio == 'adapt_to_first_image'
                  assign aspect_ratio = product.featured_media.preview_image.aspect_ratio
              endif 
          -%}
          {%- for media in sorted_media -%}
              {% comment %} {%- liquid 
                  if section.settings.aspect_ratio == 'auto' 
                      if media.preview_image != blank 
                          assign media_image = media.preview_image 
                          assign aspect_ratio = media_image.aspect_ratio 
                      endif 
                  endif 
              -%}  {% endcomment %}
              <div class="product-media-gallery-grid-item" 
                  data-media-type="{{ media.media_type }}"
                  data-pswp-index="{{ grid_pswp_i }}"
                  data-index="{{ grid_index }}"
                  data-media-item
                  data-ratio="{{ section.settings.aspect_ratio }}"
              >
                  <div class="media-card media-adapt" style="--imageRatio:{{ aspect_ratio }};">
                      {% render 'media-product', media: media, section: section, source: source %}
                  </div>
              </div>
              {%- liquid 
                  assign grid_index = grid_index | plus: 1
                  assign grid_pswp_i = grid_pswp_i | plus: 1 
              -%}
          {%- endfor -%}
      {%- else -%}
          {%- liquid 
              if section.settings.aspect_ratio == 'adapt_to_first_image'
              assign aspect_ratio = '1/1'
              endif
              #if section.settings.aspect_ratio == 'auto' 
                  #assign aspect_ratio = '1/1'
              #endif 
          -%}
          <div class="product-media-gallery-grid-item">
              <div class="media-card media-adapt" style="--imageRatio:{{ aspect_ratio }};">
                  {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
          </div>
      {%- endif -%}
  </div>
{%- endcapture -%}

{% if has_multiple_items and layout == 'carousel-with-thumbnails' %}
  {% unless section.settings.thumbnail_style == 'none' or source == 'quick-view' %}
    <div
      class="product-media-gallery-thumbnails swiper{% if hide_thumbnail_mobile %} thumbnail-mobile-hide{% endif %} product-media-gallery-thumbs-{{ section.id }}-{{ product.id }}"
      data-swiper-thumbnail='
        {
            "loop": {{ slide_loop }},
            "slidesPerView": 4,
            "spaceBetween": 10,
            "navigation": {
                "nextEl": ".swiper-nav-next-{{ swiper_id_thumb }}",
                "prevEl": ".swiper-nav-prev-{{ swiper_id_thumb }}"
            },
            "direction": "horizontal",
            "centeredSlides": {{ centered_slide }},
            "centeredSlidesBounds": {{ centered_slide_bound }},
            "breakpoints": {
            "768": {
              "direction": "{{ has_direction }}",
              "spaceBetween": 10,
              "slidesPerView": {{ slides_per_view }}
             },
            "1025": {
              "direction": "{{ has_direction }}",
              "spaceBetween": {{ space_between }},
              "slidesPerView": {{ slides_per_view }}
             }
           }
        }
      '
    >
      <div class="product-thumbnail-list swiper-wrapper">
        {% for media in sorted_media %}
          <div class="product-thumbnail-item swiper-slide">
            <div class="product-thumbnail-container{% unless section.settings.thumbnail_style == 'left' %} media-card-overlay{% endunless %}">
              <div class="media-card media-fixed">
                {{-
                  media.preview_image
                  | image_url: width: 1400
                  | image_tag: sizes: '(max-width: 1400px) 90px, 98px', widths: '420,560,768,991,1024,1200,1400'
                -}}
              </div>
              {%- case media.media_type -%}
                {%- when 'video', 'external_video' -%}
                  {% render 'svg-icons', icon_type: 'thumbnail-video-play', extra_class: 'thumbnail-media-icon' %}
                {%- when 'model' -%}
                  {% render 'svg-icons', icon_type: 'thumbnail-3d-model', extra_class: 'thumbnail-media-icon' %}
              {%- endcase -%}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endunless %}

{%- elsif has_multiple_items and layout == 'carousel-with-grid' -%}
  {{ media_grid }}
{%- elsif layout == 'grid' -%}
  {{ media_grid }}
{% endif %}

{% if source == 'main-product' or source == 'feature-product' or source == 'quick-view' %}
  </product-gallery>
{% else %}
  </div>
{% endif %}
