<span class="sticker-svg-wrapper{% if extra_class != blank %} {{ extra_class }}{% endif %}">
    {% case sticker_type %}
        {% when "sticker_1" %}
            {% comment %} <svg viewBox="0 0 87 80" fill="none">
                <defs>
                    <clipPath id="sticker1-clip" clipPathUnits="userSpaceOnUse">
                        <path d="M66.4844 0.504883C78.3538 8.13128 86.2168 21.454 86.2168 36.6152C86.2167 60.3004 67.0281 79.4999 43.3584 79.5C19.6886 79.5 0.50006 60.3001 0.5 36.6152C0.5 21.4547 8.36186 8.13176 20.2305 0.504883C21.4878 0.557913 22.7341 1.31741 23.4902 2.35645C24.9137 4.318 26.4304 6.30131 28.2852 7.95898H28.2861C32.4099 11.6431 37.7435 14.0205 43.3584 14.0205C48.9732 14.0204 54.3069 11.6431 58.4307 7.95898C60.2859 6.30126 61.8027 4.31834 63.2266 2.35645C63.9815 1.31757 65.2276 0.558323 66.4844 0.504883Z"/>
                    </clipPath>
                    <linearGradient id="paint0_linear_9447_548" x1="43.3582" y1="-2.74999" x2="43.3582" y2="17.3617" gradientUnits="userSpaceOnUse">
                        <stop offset="0.12" stop-color="white"/>
                        <stop offset="0.13" stop-color="#FAF9F9"/>
                        <stop offset="0.21" stop-color="#E6E4E3"/>
                        <stop offset="0.29" stop-color="#DAD7D6"/>
                        <stop offset="0.36" stop-color="#D6D3D2"/>
                        <stop offset="0.52" stop-color="#DEDBDB"/>
                        <stop offset="0.77" stop-color="#F4F3F3"/>
                        <stop offset="0.87" stop-color="white"/>
                    </linearGradient>
                </defs>
                <g clip-path="url(#sticker1-clip)">
                    <path d="M66.4844 0.504883C78.3538 8.13128 86.2168 21.454 86.2168 36.6152C86.2167 60.3004 67.0281 79.4999 43.3584 79.5C19.6886 79.5 0.50006 60.3001 0.5 36.6152C0.5 21.4547 8.36186 8.13176 20.2305 0.504883C21.4878 0.557913 22.7341 1.31741 23.4902 2.35645C24.9137 4.318 26.4304 6.30131 28.2852 7.95898H28.2861C32.4099 11.6431 37.7435 14.0205 43.3584 14.0205C48.9732 14.0204 54.3069 11.6431 58.4307 7.95898C60.2859 6.30126 61.8027 4.31834 63.2266 2.35645C63.9815 1.31757 65.2276 0.558323 66.4844 0.504883Z" fill="currentcolor" stroke="currentcolor"/>
                    <path d="M66.6255 0C65.1333 0.000390457 63.6813 0.880482 62.822 2.06279C61.4 4.0221 59.9102 5.96657 58.0984 7.5858C54.051 11.2014 48.8318 13.5204 43.3586 13.5204C37.8853 13.5204 32.6665 11.2014 28.6192 7.5858C26.807 5.96657 25.3171 4.0221 23.8955 2.06279C23.0355 0.880091 21.5839 0.000390457 20.0917 0H66.6259H66.6255Z" fill="url(#paint0_linear_9447_548)"/>
                </g>
            </svg> {% endcomment %}
            <svg viewBox="0 0 87 80">
                        <defs>
                        <clipPath id="myshape{{ block.settings.sticker }}"  clipPathUnits="objectBoundingBox" transform="scale(0.01149425, 0.0125)">
                            <path d="M66.4844 0.504883C78.3538 8.13128 86.2168 21.454 86.2168 36.6152C86.2167 60.3004 67.0281 79.4999 43.3584 79.5C19.6886 79.5 0.50006 60.3001 0.5 36.6152C0.5 21.4547 8.36186 8.13176 20.2305 0.504883C21.4878 0.557913 22.7341 1.31741 23.4902 2.35645C24.9137 4.318 26.4304 6.30131 28.2852 7.95898H28.2861C32.4099 11.6431 37.7435 14.0205 43.3584 14.0205C48.9732 14.0204 54.3069 11.6431 58.4307 7.95898C60.2859 6.30126 61.8027 4.31834 63.2266 2.35645C63.9815 1.31757 65.2276 0.558323 66.4844 0.504883Z" />
                        </clipPath>
                        </defs>
                    <defs>
                       <clipPath id="sticker1-clip" clipPathUnits="userSpaceOnUse">
                        <path d="M66.4844 0.504883C78.3538 8.13128 86.2168 21.454 86.2168 36.6152C86.2167 60.3004 67.0281 79.4999 43.3584 79.5C19.6886 79.5 0.50006 60.3001 0.5 36.6152C0.5 21.4547 8.36186 8.13176 20.2305 0.504883C21.4878 0.557913 22.7341 1.31741 23.4902 2.35645C24.9137 4.318 26.4304 6.30131 28.2852 7.95898H28.2861C32.4099 11.6431 37.7435 14.0205 43.3584 14.0205C48.9732 14.0204 54.3069 11.6431 58.4307 7.95898C60.2859 6.30126 61.8027 4.31834 63.2266 2.35645C63.9815 1.31757 65.2276 0.558323 66.4844 0.504883Z"/>
                        </clipPath>
                    <linearGradient id="paint0_linear_9447_548" x1="43.3582" y1="-2.74999" x2="43.3582" y2="17.3617" gradientUnits="userSpaceOnUse">
                        <stop offset="0.12" stop-color="white"/>
                        <stop offset="0.13" stop-color="#FAF9F9"/>
                        <stop offset="0.21" stop-color="#E6E4E3"/>
                        <stop offset="0.29" stop-color="#DAD7D6"/>
                        <stop offset="0.36" stop-color="#D6D3D2"/>
                        <stop offset="0.52" stop-color="#DEDBDB"/>
                        <stop offset="0.77" stop-color="#F4F3F3"/>
                        <stop offset="0.87" stop-color="white"/>
                    </linearGradient>
                </defs>
                <g clip-path="url(#sticker1-clip)">
                    <path d="M66.4844 0.504883C78.3538 8.13128 86.2168 21.454 86.2168 36.6152C86.2167 60.3004 67.0281 79.4999 43.3584 79.5C19.6886 79.5 0.50006 60.3001 0.5 36.6152C0.5 21.4547 8.36186 8.13176 20.2305 0.504883C21.4878 0.557913 22.7341 1.31741 23.4902 2.35645C24.9137 4.318 26.4304 6.30131 28.2852 7.95898H28.2861C32.4099 11.6431 37.7435 14.0205 43.3584 14.0205C48.9732 14.0204 54.3069 11.6431 58.4307 7.95898C60.2859 6.30126 61.8027 4.31834 63.2266 2.35645C63.9815 1.31757 65.2276 0.558323 66.4844 0.504883Z" fill="currentcolor" stroke="currentcolor"/>
                    <path d="M66.6255 0C65.1333 0.000390457 63.6813 0.880482 62.822 2.06279C61.4 4.0221 59.9102 5.96657 58.0984 7.5858C54.051 11.2014 48.8318 13.5204 43.3586 13.5204C37.8853 13.5204 32.6665 11.2014 28.6192 7.5858C26.807 5.96657 25.3171 4.0221 23.8955 2.06279C23.0355 0.880091 21.5839 0.000390457 20.0917 0H66.6259H66.6255Z" fill="url(#paint0_linear_9447_548)"/>
                </g>
                </svg>
        {% when "sticker_2" %}
           <svg viewBox="0 0 80 80" fill="none" class="">
                <defs>
                <clipPath id="myshape{{ block.settings.sticker }}" clipPathUnits="objectBoundingBox">
                    <path d="M0.6164 0.0907L0.6193 0.0953L0.6242 0.093L0.7124 0.0533L0.7372 0.1468L0.7386 0.1519L0.7439 0.1514L0.8399 0.1408L0.8347 0.2373L0.8344 0.2427L0.8396 0.2438L0.9343 0.2635L0.8995 0.3536L0.8976 0.3586L0.9022 0.3613L0.9862 0.4093L0.9252 0.4842L0.9218 0.4884L0.9266 0.4924L0.9904 0.564L0.9092 0.6164L0.9041 0.6186L0.9069 0.6239L0.9466 0.7121L0.8532 0.7372L0.8481 0.7386L0.8486 0.7439L0.8592 0.8399L0.7626 0.8347L0.7573 0.8344L0.7562 0.8396L0.7365 0.9343L0.6463 0.8995L0.6413 0.8976L0.6386 0.9022L0.5906 0.9862L0.5157 0.9252L0.5115 0.9218L0.5075 0.9266L0.4359 0.9904L0.3836 0.9092L0.3807 0.9041L0.3754 0.9069L0.2872 0.9466L0.2621 0.8532L0.2607 0.8481L0.2554 0.8486L0.1601 0.8592L0.1653 0.7626L0.1656 0.7573L0.1604 0.7562L0.0657 0.7365L0.1005 0.6463L0.1024 0.6413L0.0978 0.6386L0.0138 0.5906L0.0748 0.5157L0.0782 0.5115L0.0734 0.5075L0.0096 0.4359L0.0908 0.3836L0.0959 0.3807L0.0931 0.3754L0.0534 0.2872L0.1468 0.2621L0.1519 0.2607L0.1514 0.2554L0.1408 0.1601L0.2373 0.1653L0.2427 0.1656L0.2438 0.1604L0.2635 0.0657L0.3536 0.1005L0.3586 0.1024L0.3613 0.0978L0.4093 0.0138L0.4842 0.0748L0.4884 0.0782L0.4924 0.0734L0.564 0.0096L0.6164 0.0907Z"/>
                </clipPath>
                </defs>
            </svg>
        {% when "sticker_3" %}
            <svg viewBox="0 0 80 80" fill="none" class="">
                <defs>
                <clipPath id="myshape{{ block.settings.sticker }}" clipPathUnits="objectBoundingBox">
                    <path d="M0.457297,0.0229 C0.480513,0.001396 0.516425,0.000723 0.540432,0.020886
                    L0.542716,0.0229 L0.61266,0.087683 C0.625866,0.099906 0.643894,0.105522 0.662058,0.103039
                    L0.662045,0.103027 L0.758396,0.090015 C0.791419,0.085553 0.821738,0.106668 0.827491,0.138049
                    L0.844308,0.229798 V0.238764 C0.847491,0.247134 0.858635,0.261831 0.874848,0.270069
                    L0.960797,0.313733 C0.990239,0.328681 1.001804,0.362769 0.987178,0.391406
                    V0.406669 L0.944451,0.475123 H0.944438 C0.936382,0.490937 0.936382,0.5091 0.944438,0.524915
                    H0.944451 L0.987191,0.608594 C1.001817,0.637206 0.990239,0.671342 0.960797,0.686291
                    L0.874848,0.729944 C0.858632,0.738181 0.847491,0.752878 0.844308,0.770203
                    L0.827491,0.861975 C0.821738,0.893356 0.791419,0.914471 0.758396,0.91001
                    L0.662045,0.896973 H0.662058 C0.64387,0.894491 0.625843,0.900115 0.61266,0.912341
                    L0.542716,0.977111 C0.530734,0.988198 0.515361,0.993749 0.5,0.99375
                    C0.484639,0.993749 0.469303,0.988221 0.457297,0.977111
                    L0.38734,0.912341 C0.37413,0.900114 0.356109,0.89452 0.337955,0.896973
                    L0.241604,0.91001 H0.241591 C0.208578,0.91449 0.178262,0.893359 0.172509,0.861975
                    L0.155705,0.770203 H0.155692 C0.152509,0.752875 0.141366,0.73818 0.125152,0.729944
                    L0.039202,0.686291 C0.009761,0.671342 -0.001819,0.637232 0.012809,0.608594
                    H0.012822 L0.05555,0.524915 H0.055563 C0.063618,0.5091 0.063618,0.490937 0.055563,0.475123
                    H0.05555 L0.012822,0.391419 L0.012809,0.391406 C-0.001354,0.36369 0.009061,0.330824 0.036501,0.315185
                    L0.039202,0.313733 L0.125152,0.270069 C0.141364,0.261833 0.152509,0.247136 0.155692,0.22981
                    L0.155705,0.229798 L0.172509,0.138049 C0.178262,0.106667 0.208555,0.085553 0.241604,0.090015
                    L0.337955,0.103039 C0.356105,0.105492 0.374129,0.09991 0.38734,0.087683
                    L0.457297,0.0229 Z" />
                </clipPath>
                </defs>
            </svg>
        {% when "sticker_4" %}
            <svg viewBox="0 0 80 80" fill="none" class="">
                 <clipPath id="myshape{{ block.settings.sticker }}" clipPathUnits="objectBoundingBox">
                    <path d="
                    M0.3842,0.0542
                    C0.448, -0.0097, 0.552, -0.0097, 0.6158,0.0542
                    L0.9352,0.3736
                    L0.946,0.3842
                    C1.0097,0.448, 1.0097,0.552, 0.946,0.6158
                    L0.6158,0.946
                    C0.5839,0.9779, 0.5217,1, 0.5,1
                    C0.4783,1, 0.4161,0.9779, 0.3842,0.946
                    L0.0542,0.6158
                    C-0.0097,0.552, -0.0097,0.448, 0.0542,0.3842
                    L0.3842,0.0542Z" />
                </clipPath>
            </svg>
        {% when "sticker_5" %}
            <svg viewBox="0 0 80 80" fill="none" class="">
                <defs>
                <clipPath id="myshape{{ block.settings.sticker }}" clipPathUnits="objectBoundingBox">
                    <path d="
                    M0.34805,0.00625 H0.65195
                    C0.686,0.00625 0.7177,0.0388 0.7417,0.0625
                    L0.9566,0.2583
                    C0.9806,0.282 0.99375,0.3137 0.99375,0.34805
                    V0.65195
                    C0.99375,0.6863 0.9806,0.71795 0.9566,0.7417
                    L0.7417,0.9566
                    C0.7177,0.9806 0.686,0.99375 0.65195,0.99375
                    H0.34805
                    C0.31375,0.99375 0.282,0.9806 0.2583,0.9566
                    L0.0434,0.7417
                    C0.0194,0.71795 0.00625,0.6863 0.00625,0.65195
                    V0.34805
                    C0.00625,0.31375 0.0194,0.282 0.0434,0.2583
                    L0.2583,0.0434
                    C0.282,0.0194 0.3137,0.00625 0.34805,0.00625 Z" />
                </clipPath>
                </defs>
             </svg> 
    {% endcase %}
</span>