{% comment %} {{ 'collection-list.css' | asset_url | stylesheet_tag }}performance changes {% endcomment %}

<div class="color-scheme {{ section.settings.color_scheme }} color-{{ section.settings.color_type }} section-spacing">
  <div class="{{ section.settings.container_width }}">
    {% assign text_alignment = 'text-' | append: section.settings.heading_content_alignment %}
    {% render 'section-heading',
      section_heading_tag: section.settings.heading_tag,
      section_heading_size: section.settings.heading_size,
      section_heading_content: section.settings.heading,
      section_heading_highlight_text: section.settings.highlight_text,
      section_heading_highlight_font: section.settings.highlight_font,
      section_extra_classes: text_alignment
    %}
    {% assign collection_limit = section.settings.collections_per_page %}
    {% paginate collections by collection_limit %}
      {% assign sorted_collections = collections | sort: 'title' %}
      {% liquid
        assign sort_option = section.settings.sort_by
        case sort_option
          when 'title-ascending'
            assign sorted_collections = collections | sort: 'title'
          when 'title-descending'
            assign sorted_collections = collections | sort: 'title' | reverse
          when 'created-ascending'
            assign sorted_collections = collections | sort: 'created_at'
          when 'created-descending'
            assign sorted_collections = collections | sort: 'created_at' | reverse
          when 'products-low-to-high'
            assign sorted_collections = collections | sort: 'all_products_count'
          when 'products-high-to-low'
            assign sorted_collections = collections | sort: 'all_products_count' | reverse
        endcase
      %}
      <div class="collection-list-wrapper {{collection_limit}}">
        <div class="collection-list-grid {%  if section.settings.title_position == "on_image" %}overlay-content {% endif %}">
          {% liquid
            assign image_size = section.settings.aspect_ratio
            if collections.size > 0
              for collection in sorted_collections
                capture current
                  cycle section.id: 1, 2, 3, 4
                endcapture
                assign placeholder_image = 'collection-apparel-' | append: current
                render 'collection-card', collection: collection, section: section, image_size: image_size, placeholder_image: placeholder_image
              endfor
            endif
          %}
        </div>
        {% liquid
          if paginate.pages > 1
            render 'pagination', paginate: paginate
          endif
        %}
      </div>
    {% endpaginate %}
  </div>
</div>

<style>
     #shopify-section-{{ section.id }} {
      --topSpacer: {{ section.settings.top_space_desktop }}px;
      --bottomSpacer:{{ section.settings.bottom_space_desktop }}px;
      --columnGap: {{ section.settings.column_gap  }}px;
      {% if section.settings.desktop_column_count <= 2 %}
         --columnCount: {{ section.settings.desktop_column_count }};
       {% else %}
         --columnCount: 3;
       {% endif %}
       --blockRadiusSmall: {{ section.settings.border_radius }}px;
       {% if section.settings.enable_overlay %}
        {% if section.settings.overlay_style == 'gradient' %}
          --imageOverlay: {{ section.settings.overlay_gradient }};
        {% else %}
          --imageOverlay: rgba({{ section.settings.overlay_solid.rgba }});
        {% endif %}
      {% endif %}
     }
    #shopify-section-{{ section.id }} .text-highlight-color{
      --highlightColor:{{ section.settings.text_color }};
    }
    #shopify-section-{{ section.id }} .text-highlight-gradiant{
      --highlightColor:{{ section.settings.gradiant_color }};
    }
    @media (min-width:1025px) {
     #shopify-section-{{ section.id }}{
       {% if section.settings.desktop_column_count <= 3 %}
         --columnCount: {{ section.settings.desktop_column_count }};
       {% else %}
         --columnCount: 4;
       {% endif %}
     }
   }
   @media (min-width:1280px) {
     #shopify-section-{{ section.id }} {
       --columnCount: {{ section.settings.desktop_column_count }};
     }
   }
     @media only screen and (max-width: 767px) {
       #shopify-section-{{ section.id }} {
         --topSpacer: {{ section.settings.top_space_mobile }}px;
         --bottomSpacer: {{ section.settings.bottom_space_mobile }}px;
          --columnCount: {{ section.settings.columns_mobile }};
           --columnGap: {{ section.settings.mobile_column_gap  }}px;
             {% if section.settings.border_radius > 20 %}
             --blockRadius: calc( {{ section.settings.border_radius }}px / 2);
           {% else %}
             --blockRadiusSmall: {{ section.settings.border_radius }}px ;
           {% endif %}
       }
     }
     {% if section.settings.section_visibility == 'large' %}
       @media(max-width: 767px) {
         #shopify-section-{{ section.id }} {
           display: none !important;
         }
       }
     {% elsif section.settings.section_visibility == 'small' %}
     @media(min-width: 768px) {
       #shopify-section-{{ section.id }} {
         display: none !important;
       }
     }
   {% endif %}
</style>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "main-collections-list",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.general"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "t:sections.all.settings.colors.label"
    },
    {
      "type": "select",
      "id": "color_type",
      "label": "t:sections.all.settings.color_background.label",
      "default": "solid",
      "options": [
        {
          "label": "t:sections.all.settings.color_background.options.background_solid",
          "value": "solid"
        },
        {
          "label": "t:sections.all.settings.color_background.options.background_gradiant",
          "value": "gradient"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_width",
      "label": "t:sections.all.settings.container_width.label",
      "default": "container-narrow",
      "options": [
        {
          "label": "t:sections.all.settings.container_width.small.label",
          "value": "container-small"
        },
        {
          "label": "t:sections.all.settings.container_width.standard.label",
          "value": "container"
        },
        {
          "label": "t:sections.all.settings.container_width.container_wide.label",
          "value": "container-wide"
        },
        {
          "label": "t:sections.all.settings.container_width.container_edge.label",
          "value": "container-narrow"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.section_spacing"
    },
    {
      "type": "select",
      "id": "select_type",
      "label": "t:sections.all.settings.section_spacing.choose_from.label",
      "options": [
        {
          "label": "t:sections.all.settings.section_spacing.choose_from.options.desktop.label",
          "value": "desktop"
        },
        {
          "label": "t:sections.all.settings.section_spacing.choose_from.options.mobile.label",
          "value": "mobile"
        }
      ],
      "default": "desktop"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.all.settings.section_spacing.top_spacing.label",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "visible_if": "{{ section.settings.select_type == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.all.settings.section_spacing.bottom_spacing.label",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "visible_if": "{{ section.settings.select_type == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.all.settings.section_spacing.top_spacing.label",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "visible_if": "{{ section.settings.select_type == 'mobile' }}"
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.all.settings.section_spacing.bottom_spacing.label",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "visible_if": "{{ section.settings.select_type == 'mobile' }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.section_header"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.headers.heading",
      "default": "Collection list",
      "info": "t:sections.all.settings.heading_info.info"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "t:sections.all.settings.heading_tag.label",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "Div"
        },
        {
          "value": "span",
          "label": "Span"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.settings.heading_size.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.settings.heading_size.options.heading_xl"
        },
        {
          "value": "h2",
          "label": "t:sections.all.settings.heading_size.options.heading_l"
        },
        {
          "value": "h3",
          "label": "t:sections.all.settings.heading_size.options.heading_m"
        },
        {
          "value": "h4",
          "label": "t:sections.all.settings.heading_size.options.heading_s"
        },
        {
          "value": "h5",
          "label": "t:sections.all.settings.heading_size.options.heading_xs"
        },
        {
          "value": "h6",
          "label": "t:sections.all.settings.heading_size.options.heading_xxs"
        }
      ],
      "default": "h2"
    },
    {
      "type": "text_alignment",
      "id": "heading_content_alignment",
      "label": "t:sections.all.settings.content_alignment.label",
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.highlight_content"
    },
    {
      "type": "select",
      "id": "highlight_text",
      "label": "t:sections.all.settings.highlight_text.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.settings.highlight_text.options.none"
        },
        {
          "value": "underline",
          "label": "t:sections.all.settings.highlight_text.options.underline"
        },
        {
          "value": "color",
          "label": "t:sections.all.settings.highlight_text.options.markertextcolor"
        },
        {
          "value": "gradiant",
          "label": "t:sections.all.settings.highlight_text.options.markergradiant"
        }
      ],
      "default": "color"
    },
    {
      "type": "select",
      "id": "highlight_font",
      "label": "t:sections.all.settings.fontStyle.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.settings.fontStyle.options.headingFont"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.settings.fontStyle.options.bodyFont"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.settings.fontStyle.options.accent"
        }
      ],
      "default": "heading-font"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.all.headers.markertextcolor",
      "default": "#0424A7",
      "visible_if": "{{ section.settings.highlight_text == 'color' }}"
    },
    {
        "type": "color_background",
        "id": "gradiant_color",
        "label": "t:sections.all.headers.markertextcolor",
        "default": "linear-gradient(54deg, rgba(239, 37, 18, 1) 4%, rgba(239, 95, 18, 1) 52.518%, rgba(241, 163, 28, 1) 100%)",
        "visible_if": "{{ section.settings.highlight_text == 'gradiant' }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.collection"
    },
    {
      "type": "range",
      "id": "collections_per_page",
      "label": "t:sections.main-list-collections.settings.collections_per_page.label",
      "min": 4,
      "max": 32,
      "step": 4,
      "default": 12
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "t:sections.all.settings.aspect_ratio.label",
      "default": "3/4",
      "options": [
        {
          "label": "t:sections.all.settings.aspect_ratio.options__1.label",
          "value": "auto"
        },
        {
          "label": "t:sections.all.settings.aspect_ratio.options__2.label",
          "value": "1/1"
        },
        {
          "label": "t:sections.all.settings.aspect_ratio.options__3.label",
          "value": "3/4"
        },
        {
          "label": "t:sections.all.settings.aspect_ratio.options__4.label",
          "value": "2/3"
        },
        {
          "label": "t:sections.all.settings.aspect_ratio.options__5.label",
          "value": "4/3"
        }
      ]
    },
    {
      "type": "select",
      "id": "sort_by",
      "label": "t:sections.main-list-collections.settings.sort.label",
      "options": [
        {
          "label": "t:sections.main-list-collections.settings.sort.options__1.label",
          "value": "title-ascending"
        },
        {
          "label": "t:sections.main-list-collections.settings.sort.options__2.label",
          "value": "title-descending"
        },
        {
          "label": "t:sections.main-list-collections.settings.sort.options__3.label",
          "value": "created-descending"
        },
        {
          "label": "t:sections.main-list-collections.settings.sort.options__4.label",
          "value": "created-ascending"
        },
        {
          "label": "t:sections.main-list-collections.settings.sort.options__5.label",
          "value": "products-high-to-low"
        },
        {
          "label": "t:sections.main-list-collections.settings.sort.options__6.label",
          "value": "products-low-to-high"
        }
      ],
      "default": "title-ascending"
    },
    {
      "type": "select",
      "id": "title_position",
      "label": "t:sections.collection-list.settings.title_position.label",
      "options": [
        {
          "label": "t:sections.collection-list.settings.title_position.option_0.label",
          "value": "on_image"
        },
        {
          "label": "t:sections.collection-list.settings.title_position.option_1.label",
          "value": "below_image"
        }
      ],
      "default": "on_image"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "t:sections.all.headers.title_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.settings.heading_size.options.heading_m",
          "group": "t:sections.all.settings.heading_size.group"
        },
        {
          "value": "h4",
          "label": "t:sections.all.settings.heading_size.options.heading_s",
          "group": "t:sections.all.settings.heading_size.group"
        },
        {
          "value": "h5",
          "label": "t:sections.all.settings.heading_size.options.heading_xs",
          "group": "t:sections.all.settings.heading_size.group"
        },
        {
          "value": "h6",
          "label": "t:sections.all.settings.heading_size.options.heading_xxs",
          "group": "t:sections.all.settings.heading_size.group"
        },
        {
          "value": "text-xlarge",
          "label": "t:sections.all.settings.description_size.options.text-xlarge",
          "group": "t:sections.all.settings.description_size.group"
        },
        {
          "value": "text-large",
          "label": "t:sections.all.settings.description_size.options.text-large",
          "group": "t:sections.all.settings.description_size.group"
        },
        {
          "value": "text-medium",
          "label": "t:sections.all.settings.description_size.options.text-medium",
          "group": "t:sections.all.settings.description_size.group"
        },
        {
          "value": "text",
          "label": "t:sections.all.settings.description_size.options.text",
          "group": "t:sections.all.settings.description_size.group"
        },
        {
          "value": "text-small",
          "label": "t:sections.all.settings.description_size.options.text-small",
          "group": "t:sections.all.settings.description_size.group"
        },
        {
          "value": "text-xsmall",
          "label": "t:sections.all.settings.description_size.options.text-xsmall",
          "group": "t:sections.all.settings.description_size.group"
        }
      ],
      "default": "h6"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:sections.all.settings.card_radius.label",
      "info": "t:sections.all.settings.card_radius.info",
      "min": 0,
      "max": 30,
      "default": 5,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "text_alignment",
      "id": "content_alignment",
      "label": "t:sections.all.settings.content_alignment.label",
      "default": "center"
    },
      {
      "type": "header",
      "content": "t:sections.all.settings.overlay.header"
    },
    {
      "type": "checkbox",
      "id": "enable_overlay",
      "label": "t:sections.all.settings.overlay.enable_overlay.label",
      "default": false
    },
    {
      "type": "select",
      "id": "overlay_style",
      "label": "t:sections.all.settings.overlay.style.label",
      "options": [
        {
          "label": "t:sections.all.settings.overlay.style.options__0.label",
          "value": "solid"
        },
        {
          "label": "t:sections.all.settings.overlay.style.options__1.label",
          "value": "gradient"
        }
      ],
      "default": "solid"
    },
    {
      "type": "color_background",
      "id": "overlay_gradient",
      "label": "t:sections.all.settings.overlay.color.label",
      "default": "linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.04) 100%)",
      "visible_if": "{{ section.settings.overlay_style == 'gradient' }}"
    },
    {
      "type": "color",
      "id": "overlay_solid",
      "label": "t:sections.all.settings.overlay.color.label",
      "alpha": true,
      "default": "#00000093",
      "visible_if": "{{ section.settings.overlay_style == 'solid' }}"
    },  
    {
      "type": "header",
      "content": "t:sections.all.headers.desktop_layout"
    },
    {
      "type": "range",
      "id": "desktop_column_count",
      "label": "t:sections.all.settings.column_count.label",
      "min": 2,
      "step": 1,
      "max": 5,
      "default": 4
    },
    {
      "type": "range",
      "label": "t:sections.all.settings.column_gap.label",
      "id": "column_gap",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.all.settings.mobile_layout.header"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "label": "t:sections.all.settings.mobile_layout.mobile_column_count.label",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "t:sections.all.settings.mobile_layout.mobile_column_count.options__0.label"
        },
        {
          "value": "2",
          "label": "t:sections.all.settings.mobile_layout.mobile_column_count.options__1.label"
        }
      ]
    },
    {
      "type": "range",
      "label": "t:sections.all.settings.column_gap.label",
      "id": "mobile_column_gap",
      "min": 0,
      "max": 15,
      "step": 1,
      "default": 5,
      "unit": "px"
    }
  ]
}
{% endschema %}
