{{ 'main-password-header.css' | asset_url | stylesheet_tag }}
<div class="main-password-header color-scheme {{ section.settings.color_scheme }}">
  <div class="container-wide">
    <div class="password-header-wrapper">
      <a href="{{ routes.root_url }}" class="password-header-logo" aria-label="Logo">
        {% assign logo = section.settings.image %}
        {% if logo != blank %}
          {%- assign logo_alt = logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = section.settings.logo_width | divided_by: logo.aspect_ratio -%}
          {% capture sizes %}(max-width: {{ section.settings.logo_width | times: 2 }}px) 50vw, {{ section.settings.logo_width }}px{% endcapture %}
          {% capture widths %}{{ section.settings.logo_width }}, {{ section.settings.logo_width | times: 1.5 | round }}, {{ section.settings.logo_width | times: 2 }}{% endcapture %}
          {% assign range_width = section.settings.logo_width %}
          {{
            logo
            | image_url: width: logo.width
            | image_tag:
              class: 'header-logo-img',
              widths: widths,
              height: logo_height,
              width: range_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
          }}
        {% else %}
          <span class="store-name">{{ shop.name }}</span>
        {% endif %}
      </a>
      <button
        id="password-openPopupButton"
        type="button"
        aria-label="Enter using password"
        class="button button-underline password-button"
      >
        <span class="button-text text-uppercase">Enter using password</span>
        <span class="button-icon">
          {% render 'svg-icons', icon_type: 'arrow-right' %}
        </span>
      </button>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.body.style.setProperty(
      '--passwordHeaderHeight',
      `${document.querySelector('.main-password-header').offsetHeight}px`
    );
  });
</script>
<style>
  #shopify-section-{{ section.id }}{
     --logoSize:{{ section.settings.logo_width }}px;
    }
    @media only screen and (max-width: 767px) {
      #shopify-section-{{ section.id }} {
        --logoSize:{{ section.settings.logo_width_mobile }}px;
      }
    }
</style>
{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "class": "password-header",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.general"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "t:sections.all.settings.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.settings.logo.header"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.settings.logo.settings.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "t:sections.all.settings.logo.settings.desktop_width.label",
      "default": 50,
      "min": 50,
      "max": 250,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "label": "t:sections.all.settings.logo.settings.mobile_width.label",
      "default": 50,
      "min": 50,
      "max": 150,
      "step": 10,
      "unit": "px"
    }
  ]
}
{% endschema %}
