{{ 'main-password-footer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'foundation.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
{% render 'global-js-dependencies' %}
<div class="main-password-wrapper color-scheme {{ section.settings.color_scheme }} height-100 pos-relative">
  {% if section.settings.image != blank %}
    <div class="background-image">
      {% liquid
        assign default_alt = 'Password background image' | escape
        assign image_alt = section.settings.image.alt | default: default_alt
      %}
      {{
        section.settings.image
        | image_url: width: 3840, format: 'webp'
        | image_tag:
          sizes: '(max-width: 479px) 100vw, (max-width: 767px) 100vw, (max-width: 1023px) 100vw, 100vw',
          widths: '180, 240, 320, 375, 480, 600, 768, 900, 1024, 1280, 1536, 1920, 2560, 3840',
          decoding: 'async',
          loading: 'eager',
          fetchpriority: 'high',
          alt: image_alt
      }}
    </div>
  {% endif %}
  <div class="container-wide">
    <div class="main-password-content text-center">
      {% content_for 'blocks' %}
      {%- if shop.password_message != blank -%}
        <div class="password-content text-small text-center">
          {{ shop.password_message }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
<password-popup
  class="password-form-popup position-center popup {{ section.settings.popup_color_scheme }}"
  tabindex="0"
>
  <div class="page-overlay" data-popup-close-full></div>
  <div class="popup-dialog width-small">
    <div class="popup-content with-border">
      <button class="popup-close" data-popup-close="" aria-label="Close">
        {% render 'svg-icons', icon_type: 'cross-icon' %}
      </button>
      <div class="password-form-popup-body">
        {% assign text_alignment = 'text-' | append: section.settings.content_alignment %}
        {% assign description_data = '' %}
        {% if section.settings.description != blank %}
          {% assign description_data = '<p class="'
            | append: section.settings.description_size
            | append: '">'
            | append: section.settings.description
            | newline_to_br
            | append: '</p>'
          %}
        {% endif %}
        <div class="password-form-popup-text {{ text_alignment }}">
          {% render 'section-heading',
            section_heading_tag: section.settings.heading_tag,
            section_heading_size: section.settings.heading_size,
            section_heading_content: section.settings.heading,
            section_heading_highlight_text: section.settings.highlight_text,
            section_heading_highlight_font: section.settings.highlight_font,
            section_extra_classes: '',
            extra_html_content: description_data
          %}
          {%- form 'storefront_password', class: 'password-form' -%}
            <div class="form-group password-field field{% if form.errors %} password-field--error{% endif %}">
              <label class="text-xs hidden" for="main-password-input">
                {{ 'general.password_page.login_form_password_label' | t }}
              </label>
              <input
                class="form-control input-md"
                type="password"
                name="password"
                id="main-password-input"
                autocomplete="current-password"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="PasswordLoginForm-password-error"
                {%- endif -%}
                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
              >
              {%- if form.errors -%}
                <div
                  class="form-message form-message-error text-small"
                  id="PasswordLoginForm-password-error"
                  role="status"
                >
                  {{ 'general.password_page.login_form_error' | t -}}
                </div>
              {%- endif -%}
            </div>
            <button
              name="commit"
              class="button {{ section.settings.button_style }}"
              aria-label="{{ section.settings.button_title }}"
            >
              <span class="button-text">{{ section.settings.button_title }}</span>
              <span class="button-icon">
                {% render 'svg-icons', icon_type: 'arrow-right' %}
              </span>
            </button>
          {%- endform -%}
          <p class="account-info-text text-xs text-center">
            {{ 'general.password_page.admin_link_html' | t }}
          </p>
        </div>
      </div>
    </div>
  </div>
</password-popup>
<style>
  #shopify-section-{{ section.id }} .password-form-popup-body .text-highlight-color{
    --highlightColor:{{ section.settings.text_color }};
  }
  #shopify-section-{{ section.id }} .password-form-popup-body .text-highlight-gradiant{
    --highlightColor:{{ section.settings.gradiant_color }};
  }
</style>
{% schema %}
{
  "name": "t:sections.main-password.name",
  "class": "main-password",
  "tag": "section",
  "blocks": [
    {
      "type": "_heading"
    },
    {
      "type": "_description"
    },
    {
      "type": "_countdown"
    },
    {
      "type": "_newsletter"
    },
    {
      "type": "_social-icons"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.general"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "t:sections.all.settings.colors.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.headers.Background_image"
    },
    {
      "type": "header",
      "content": "t:sections.main-password.settings.password-popup.label"
    },
    {
      "type": "color_scheme",
      "id": "popup_color_scheme",
      "default": "scheme-1",
      "label": "t:sections.all.settings.colors.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.headers.heading",
      "default": "Enter using password",
      "info": "t:sections.all.settings.heading_info.info"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "t:sections.all.settings.heading_tag.label",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "div",
          "label": "Div"
        },
        {
          "value": "span",
          "label": "Span"
        },
        {
          "value": "p",
          "label": "P"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.settings.heading_size.label",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.settings.heading_size.options.heading_xl"
        },
        {
          "value": "h2",
          "label": "t:sections.all.settings.heading_size.options.heading_l"
        },
        {
          "value": "h3",
          "label": "t:sections.all.settings.heading_size.options.heading_m"
        },
        {
          "value": "h4",
          "label": "t:sections.all.settings.heading_size.options.heading_s"
        },
        {
          "value": "h5",
          "label": "t:sections.all.settings.heading_size.options.heading_xs"
        },
        {
          "value": "h6",
          "label": "t:sections.all.settings.heading_size.options.heading_xxs"
        }
      ],
      "default": "h2"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:sections.all.headers.description",
      "default": "This store is password protected.Use the password to enter the store."
    },
    {
      "type": "select",
      "id": "description_size",
      "label": "t:sections.all.settings.description_size.label",
      "options": [
        {
          "value": "text-xlarge",
          "label": "t:sections.all.settings.description_size.options.text-xlarge"
        },
        {
          "value": "text-large",
          "label": "t:sections.all.settings.description_size.options.text-large"
        },
        {
          "value": "text-medium",
          "label": "t:sections.all.settings.description_size.options.text-medium"
        },
        {
          "value": "text",
          "label": "t:sections.all.settings.description_size.options.text"
        },
        {
          "value": "text-small",
          "label": "t:sections.all.settings.description_size.options.text-small"
        },
        {
          "value": "text-xsmall",
          "label": "t:sections.all.settings.description_size.options.text-xsmall"
        }
      ],
      "default": "text"
    },
    {
      "type": "text_alignment",
      "id": "content_alignment",
      "label": "t:sections.all.settings.content_alignment.label",
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.highlight_content"
    },
    {
      "type": "select",
      "id": "highlight_text",
      "label": "t:sections.all.settings.highlight_text.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.settings.highlight_text.options.none"
        },
        {
          "value": "underline",
          "label": "t:sections.all.settings.highlight_text.options.underline"
        },
        {
          "value": "color",
          "label": "t:sections.all.settings.highlight_text.options.markertextcolor"
        },
        {
          "value": "gradiant",
          "label": "t:sections.all.settings.highlight_text.options.markergradiant"
        }
      ],
      "default": "color"
    },
    {
      "type": "select",
      "id": "highlight_font",
      "label": "t:sections.all.settings.fontStyle.label",
      "options": [
        {
          "value": "heading-font",
          "label": "t:sections.all.settings.fontStyle.options.headingFont"
        },
        {
          "value": "body-font",
          "label": "t:sections.all.settings.fontStyle.options.bodyFont"
        },
        {
          "value": "accent-font",
          "label": "t:sections.all.settings.fontStyle.options.accent"
        }
      ],
      "default": "heading-font"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.all.headers.markertextcolor",
      "default": "#0424A7",
      "visible_if": "{{ section.settings.highlight_text == 'color' }}"
    },
    {
        "type": "color_background",
        "id": "gradiant_color",
        "label": "t:sections.all.headers.markertextcolor",
        "default": "linear-gradient(54deg, rgba(239, 37, 18, 1) 4%, rgba(239, 95, 18, 1) 52.518%, rgba(241, 163, 28, 1) 100%)",
        "visible_if": "{{ section.settings.highlight_text == 'gradiant' }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.button"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "t:sections.all.settings.button.label",
      "default": "Enter"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.settings.button.style.label",
      "options": [
        {
          "label": "t:sections.all.settings.button.style.options.primaryButton",
          "value": "primary-button"
        },
        {
          "label": "t:sections.all.settings.button.style.options.secondaryButton",
          "value": "secondary-button"
        },
        {
          "label": "t:sections.all.settings.button.style.options.primaryOutlinedButton",
          "value": "primary-button outlined-button"
        },
        {
          "label": "t:sections.all.settings.button.style.options.secondaryOutlinedButton",
          "value": "secondary-button outlined-button"
        },
        {
          "label": "t:sections.all.settings.button.style.options.underlineButton",
          "value": "button-underline"
        }
      ]
    }
  ]
}
{% endschema %}
